<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <RollingFile
                name="rollingFile"
                fileName="logs/logfile.log"
                filePattern="logs/logfile_%i.log"
                ignoreExceptions="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{5}- %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="16MB" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root  level="info">
            <AppenderRef ref="rollingFile" level="warn"/>
            <AppenderRef ref="STDOUT" level="info"/>
        </Root>
    </Loggers>
</Configuration>